<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xam.package.dependency-testing" version="1.1.7" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.1.6" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="portable45-net45+win8+wp8" />
  <package id="ZXing.Net.Mobile" version="2.0.4.46" targetFramework="portable45-net45+win8+wp8" />
  <package id="ZXing.Net.Mobile.Forms" version="2.0.4.46" targetFramework="portable45-net45+win8+wp8" />
</packages>